.git
.expo
node_modules
dist
web-build
npm-debug.*
*.log

.env
.env.*

android/.gradle
android/app/build

server
supabase
server/node_modules
server/.env
server/.env.*
supabase/.branches
supabase/.temp
